# sous nutrition

## 1- Objectif

L'objectif est de dresser un panorama de l’état de la malnutrition dans le monde à partir de données contenues dans les fichiers :
- aide_alimentaire
- dispo_alimentaire
- population
- sous-nutrition

L’ensemble de ces fichiers provient initialement des données de la FAO téléchargeables librement ici : http://www.fao.org/faostat/fr/#data

## 2- Lexique des données

Il y a 4 fichiers CSV à disposition :
1.	Un fichier de disponibilité alimentaire pour l’année 2013 qui contient 17 variables :
-	Le pays.
-	Le produit.
-	4 variables de disponibilité alimentaire. Ces 4 variables sont exprimées dans des unités bien spécifiques, qui sont précisées directement dans le nom de la variable. À noter cependant que la notation kcal est un abus de langage, elle correspond à une calorie réelle.
-	10 variables qui précisent les utilisations/moyens d’acquisition de la disponibilité alimentaire. Elles sont toutes exprimées en milliers de tonnes.
-	Enfin, une variable type qui précise si le produit est d’origine animale ou végétale.
2.	Un fichier d’insécurité alimentaire, qui inclut :
-	Le pays.
-	Intervalle d’années.
-	Le nombre de personnes en sous-alimentation en millions d’habitants (ex. : pour l’intervalle 2012-2014, le nombre de personnes correspond à la moyenne sur ces 3 années, on peut le résumer en 2013).

3.	Un fichier de population qui inclut :
-	Le pays.
-	L’année.
-	La population du pays, exprimée en milliers d’habitants.
4.	Un fichier d’aide alimentaire qui contient :
-	Le pays bénéficiaire.
-	L’année.
-	Le produit.
-	La quantité qui a été donnée comme aide alimentaire, en tonnes.

## 3- Quelques pistes

Je vous recommande de vous concentrer sur l'année 2017. 

Voici quelques pistes à explorer/ calculer: 
- la proportion de personnes en état de sous-nutrition ;
- le nombre théorique de personnes qui pourraient être nourries. Vous devriez pouvoir calculer ça à partir de la disponibilité alimentaire mondiale ;
- idem pour la disponibilité alimentaire des produits végétaux ;
- l’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale, celle qui est perdue et celle qui est concrètement utilisée pour l'alimentation humaine.

Vous pouvez faire une étude un peu plus fine pour chacun des pays. Par exemple, vous pouvez donner :
- les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017, 
- ceux qui ont le plus bénéficié d’aide depuis 2013, _
- ceux ayant le plus/le moins de disponibilité/habitant, etc.,
- et toutes autres infos que vous trouverez utiles pour mettre en relief les pays qui semblent être le plus en difficulté, au niveau alimentaire.

Notes de mes recherches
- La disponibilité alimentaire correspond à la disponibilité d'aliments en quantité suffisante et d'une qualité appropriée pour l’alimentation humaine.
- La disponibilité intérieure correspond à la disponibilité totale d’un aliment au sein du pays.
- Il y a un lien logique entre l’ensemble des 10 variables exprimées en milliers de tonnes sur les utilisations de la disponibilité intérieure, qui peut s’exprimer avec une équation du type : A1 + A2 + … = disponibilité intérieure = B1 + B2 + …
- Mais je ne me souviens plus exactement !

Lors de mes recherches, j’ai découvert des chiffres intéressants sur l’utilisation des céréales, notamment la répartition entre l’alimentation humaine (colonne Nourriture) et l’alimentation pour animaux. La liste des céréales peut être trouvée en allant fouiller un peu dans l’onglet Bilans alimentaires, sur le lien juste ci-dessus.

Enfin, je me souviens d’un exemple étonnant d’utilisation du manioc par la Thaïlande aux égards de la proportion de personnes en sous-nutrition. Il serait intéressant d’aller à nouveau y jeter un coup d’œil, de mémoire ça concernait l’exportation par rapport à la production.

## 4 - Préparation de l'environnement

In [1]:
import pandas as pd
import numpy as np

## 5 - A vous de jouer

## Population

In [2]:
population = pd.read_csv('population.csv')
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

Plusieurs traitements peuvent être appliquées ici, pour simplifier les calculs pour la suite :

La population étant en milliers d'habitant, faire une multiplication par 1000 prend sens, pour éviter tous problèmes pour la suite
changer le nom de la colonne Valeur

In [3]:
population['Valeur'] *= 1000
population.rename(columns={"Valeur": "Population"}, inplace=True)

In [4]:
population.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0