In [1]:
import pandas as pd
import numpy as np

# 1 chargement des donnés

## Population

In [15]:
population = pd.read_csv('population.csv')
population.head()

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

Plusieurs traitements peuvent être appliquées ici, pour simplifier les calculs pour la suite :

La population étant en milliers d'habitant, faire une multiplication par 1000 prend sens, pour éviter tous problèmes pour la suite
changer le nom de la colonne Valeur

In [16]:
population['Valeur'] *= 1000
population.rename(columns={"Valeur": "Population"}, inplace=True)

In [17]:
population.head()

          Zone  Année  Population
0  Afghanistan   2013  32269589.0
1  Afghanistan   2014  33370794.0
2  Afghanistan   2015  34413603.0
3  Afghanistan   2016  35383032.0
4  Afghanistan   2017  36296113.0

# Disponibilité alimentaire¶

In [18]:
dispo_alimentaire = pd.read_csv('dispo_alimentaire.csv')
dispo_alimentaire.head()

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

Plusieurs traitements peuvent être appliquées ici, pour simplifier les calculs pour la suite :

remplacer les NaN par 0
multiplier par 1 000 000 toutes les colonnes dont l'unité est milliers de tonnes, pour homogénéiser en kg

In [19]:
dispo_alimentaire.fillna(0, inplace=True)

colonnes_tonnes_tokg = ['Aliments pour animaux', 'Disponibilité intérieure', 'Exportations - Quantité',
                        'Importations - Quantité', 'Nourriture', 'Pertes', 'Production',
                        'Semences', 'Traitement', 'Variation de stock', 'Autres Utilisations']

for elt in colonnes_tonnes_tokg:
    dispo_alimentaire[elt] *= 1000000

# Aide alimentaire¶

In [20]:
aide_alimentaire = pd.read_csv("aide_alimentaire.csv")
aide_alimentaire.head()

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

Plusieurs traitements peuvent être appliqués ici, pour simplifier les calculs :

renommer la colonne Pays bénéficiaire en Zone pour homogénéiser avec les autres tables
multiplier par 1000 pour avoir en kg

In [21]:
aide_alimentaire.rename(columns={"Pays bénéficiaire": "Zone", "Valeur":"Aide_kg"}, inplace=True)
aide_alimentaire['Aide_kg'] *= 1000

# Sous nutrition

In [22]:
sous_nutrition = pd.read_csv('sous_nutrition.csv')
sous_nutrition.head()

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

In [23]:
sous_nutrition.describe()

                      Zone      Année Valeur
count                 1218       1218    624
unique                 203          6    139
top     Bosnie-Herzégovine  2017-2019   <0.1
freq                     6        203    120

In [24]:
sous_nutrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

certaines valeurs ne sont pas fixes, mais correspondent à une approximation (<0.1 par exemple) : la colonne Valeur est donc considérée comme du texte par Pandas. Il faut donc la refaire passer en numérique.

Il y a plusieurs façons de gérer ces valeurs là (les remplacer par une valeur, par 0, etc...), laissée libre à l'étudiant selon sa sensibilité (et la justification qu'il pourra donner à son choix). Je les remplace ici par 0.

In [25]:
sous_nutrition['Valeur'] = pd.to_numeric(sous_nutrition['Valeur'], errors='coerce')
sous_nutrition.fillna(0, inplace=True)

On peut également (de façon optionnelle, pour simplifier les calculs) :

remplacer Valeur par un nom plus explicite
multiplier par 1 000 000 pour avoir en habitants

In [26]:
sous_nutrition.rename(columns={"Valeur": "sous_nutrition"}, inplace=True)
sous_nutrition['sous_nutrition'] *= 1000000

# Analyse

L'équation de Julien est en fait :

Disponibilité intérieure  = Production + Importations - Exportations + Variation de stock 

Disponibilité intérieure = Semences + Pertes + Nourriture + Aliments pour animaux + Traitement + Autres utilisations

## Demandes de Marc

### Proportion de personnes en sous nutrition :

In [28]:
# Il faut tout d'abord faire une jointure entre population et sous nutrition en utilisant la fonction merge de pandas, en ciblant l'année 2017 :

sous_nutrition2017 = sous_nutrition.loc[sous_nutrition['Année'] == '2016-2018',["Zone", "sous_nutrition"]]


pop2017 = population.loc[________== 2017,[_________,___________]] # a compléter en s'inspirant de la ligne du dessus



prop_sous_nutrition = pd.merge(pop2017,sous_nutrition2017,
                    
                               on=____________)
prop_sous_nutrition.head()

SyntaxError: invalid syntax (<ipython-input-28-eb2a45e29ccd>, line 10)

In [ ]:
prop_sous_nutrition['sous_nutrition'].sum() #donne la totalité des personnes en sousnutrition

_________________# calculer ici la population total 


________________# et en déduire la Proportion de personnes en état de sous nutrition

In [ ]:
print("Proportion de personnes en état de sous nutrition :", "{:.2f}".format(prop_sous_nutrition['sous_nutrition'].sum()*100/prop_sous_nutrition['Population'].sum()), "%")

### Le nombre de personnes théoriques qui pourrait être nourri à partir de la disponibilité alimentaire

Pour cela, on peut se fixer soit sur les kcal, soit les protéines. Je choisis ici les kcal, mais la méthodologie est la même avec les protéines, aux égards dues aux éventuelles unités.

Il faut tout d'abord convertir la colonne de disponibilité alimentaire en kcal. Celle ci est actuellement en kcal/pers/j, il faut donc multiplier par la population et par 365. Une jointure est nécessaire pour avoir la population.

In [ ]:
dispo_alimentaire = dispo_alimentaire.merge(population.loc[_______== _______,[_______, _________]],
                                            on=______)

In [ ]:
dispo_alimentaire['dispo_kcal'] = dispo_alimentaire[__________] * dispo_alimentaire[_______________] * 365

print("dispo alimentaire totale en kcal :", dispo_alimentaire['dispo_kcal'].sum(), "kcal")

Après une rapide recherche, on trouve qu'on être humain a besoin d'entre 1800 et 2700 kcal/j. On prend donc une moyenne de 2500 pour le présent exemple :

In [ ]:
total_h_kcal = round(dispo_alimentaire['dispo_kcal'].sum()/(_______*_________))

In [ ]:
print("Total d'être humain pouvant être nourris :", total_h_kcal)

print("Proportion :", "{:.2f}".format(total_h_kcal*100/population.loc[population['Année'] == 2017,"Population"].sum()), "%")

Même question pour les produits végétaux :

In [ ]:
vegetaux = dispo_alimentaire.loc[dispo_alimentaire['Origine'] == _______,:]

In [ ]:


print("dispo alimentaire totale en kcal des produits végétaux :", vegetaux['dispo_kcal'].sum(), "kcal")
total_h_kcal = round(vegetaux['dispo_kcal'].sum()/(_______*_________))


print("Total d'être humain pouvant être nourris :", total_h_kcal)
print("Proportion :", "{:.2f}".format(total_h_kcal*100/population.loc[population['Année'] == 2017,"Population"].sum()), "%")

L’utilisation de la disponibilité intérieure, en particulier la part qui est attribuée à l’alimentation animale de celle qui est perdue, de celle qui est concrètement utilisée pour l'alimentation humaine.

In [ ]:
dispo_int = dispo_alimentaire['Disponibilité intérieure'].________

for elt in ['Aliments pour animaux', 'Pertes', 'Nourriture']:
    print("Proportion de", elt, ":", "{:.2f}".format(dispo_alimentaire[elt].sum()*100/dispo_int), "%")

### Informations laissées par Julien

On fait un zoom sur les céréales : 
    
Blé et produits,
Riz et produits,
Orge et produits,
Maïs et produits,
Seigle et produits,
Avoine,
Millet et produits,
Sorgho et produits,
Céréales, Autres

In [ ]:
liste_cereales = ["Blé et produits", "Riz et produits", "Orge et produits", "Maïs et produits", "Seigle et produits",
                  "Avoine", "Millet et produits", "Sorgho et produits", "Céréales, Autres"]

#Création d'une table ne contenant que les informations des céréales
cereales = dispo_alimentaire.loc[dispo_alimentaire[__________].isin(____________),:]

In [ ]:
print("Proportion d'alimentation animale :", "{:.2f}".format(cereales['Aliments pour animaux'].sum()*100/cereales['Disponibilité intérieure'].sum()), "%")
print("Proportion d'alimentation humaine :", "{:.2f}".format(cereales['Nourriture'].sum()*100/cereales['Disponibilité intérieure'].sum()), "%")

In [ ]:
Quelle remarque cela vous évoque?

Exemple de la Thaïlande et du Manioc :

In [ ]:
thai = prop_sous_nutrition.loc[prop_sous_nutrition['Zone'] == _____,:]


print('Proportion en sous nutrition en Thaïlande :', "{:.2f}".format(thai['sous_nutrition'].iloc[0]*100/thai['Population'].iloc[0]), "%")

In [ ]:
# La proportion exportée doit être calculée à partir de la production

thai_manioc = dispo_alimentaire.loc[(dispo_alimentaire['Produit'] == ______) & (dispo_alimentaire['Zone'] == ______),:]

In [ ]:

print('Proportion de manioc exportée :', "{:.2f}".format(thai_manioc['Exportations - Quantité'].iloc[0]*100 / 
                                                                     thai_manioc['Production'].iloc[0]), "%")

## Demandes de Mélanie

In [ ]:
Pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

In [ ]:
prop_sous_nutrition['proportion'] = prop_sous_nutrition[_____]/prop_sous_nutrition[__________]

prop_sous_nutrition[['Zone', "proportion"]].sort_values(by="proportion", ascending=False).head(10)

Ceux qui ont le plus bénéficié d’aide depuis 2013

In [ ]:
aide = aide_alimentaire[['Zone','Aide_kg']].groupby("Zone").__________()

aide.sort_values(by="Aide_kg", ascending=False).head(10)

Les pays ayant le plus/le moins de disponibilité/habitant

In [ ]:
dispo_pays_total = dispo_alimentaire[['Zone','Produit','Disponibilité alimentaire (Kcal/personne/jour)']].groupby('Zone').sum()



dispo_pays_total.sort_values(by="Disponibilité alimentaire (Kcal/personne/jour)").head(10)